{
  "extends": "airbnb",
  "plugins": [
    "babel",
    "react"
  ],
  "env": {
    "browser": true,
    "jest": true,
    "mocha": true,
    "node": true
  },
  "globals": {
    "__DEV__": true,
    "React$Element": true
  },
  "rules": {
    "arrow-body-style": 0,
    "function-paren-newline": ["warn", "consistent"],
    "import/extensions": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "jsx-boolean-value": 0,
    "no-floating-decimal": 0,
    "radix": [
      "error",
      "as-needed"
    ],
    "react/jsx-first-prop-new-line": "off",
    "react/jsx-max-props-per-line": ["error", { "maximum": 2, "when": "multiline" }],
    "react/jsx-filename-extension": 0,
    "react/require-default-props": [
      1,
      {
        "forbidDefaultForRequired": true
      }
    ],
    "react/sort-comp": 0,
    "global-require": 0,
    "comma-dangle": [
      "error",
      "only-multiline"
    ],
    "semi": [
      "error",
      "never"
    ],
    "object-curly-newline": [
      "warn",
      {
        "multiline": true,
        "minProperties": 4
      }
    ]
  }
}